.section-full {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 95px 0;
}

@import "./_down-button";
@import "./sections/section-one";
@import "./sections/section-two";
@import "./sections/section-three";

